name: Release

on:
  push:
    branches: [main, v0]

permissions:
  contents: write
  pull-requests: write
  packages: write

# Automatically cancel in-progress actions on the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
      # Run prepublish to ensure everything is built properly
      # TODO: is this manual build step actually needed?
      - run: pnpm run ci:install
      # `prepack` hook _should_ run but doesn't seem to.
      - run: pnpm run ci:prepublish
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm run ci:version
          publish: pnpm run ci:publish
          commit: "[ci] release"
          title: "[ci] release"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Validate peer dependencies
        if: steps.changesets.outputs.published == 'true'
        run: |
          pnpm dlx dependency-check --peer-deps-only
        env:
          NODE_ENV: production
      - name: Publish to jsr.io
        if: steps.changesets.outputs.published == 'true'
        run: pnpx @qingshaner/jsr-release publish --changesetReleases='${{ steps.changesets.outputs.publishedPackages }}'
